body{

margin:0;
font-family:Segoe UI;
background:#f4f6f9;

}

.container{

display:flex;
height:100vh;

}

.menu{

width:220px;
background:#2c3e50;
color:white;
padding:20px;

}

.menu h2{

text-align:center;

}

.menu ul{

list-style:none;
padding:0;

}

.menu li{

padding:12px;
border-bottom:1px solid rgba(255,255,255,0.2);
cursor:pointer;

}

.menu li:hover{

background:#34495e;

}

.dashboard{

flex:1;
padding:30px;

}

header{

margin-bottom:20px;

}

.card{

background:white;
padding:20px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);

}

input,select{

padding:10px;
border:1px solid #ccc;
border-radius:5px;

}

button{

padding:10px 15px;
border:none;
border-radius:5px;
cursor:pointer;
font-weight:bold;

}

.entrada{

background:#27ae60;
color:white;

}

.saida{

background:#e74c3c;
color:white;

}

.pdf{

background:#8e44ad;
color:white;

}

table{

width:100%;
margin-top:15px;
border-collapse:collapse;

}

th{

background:#34495e;
color:white;
padding:10px;

}

td{

padding:10px;
border-bottom:1px solid #ddd;

}

tr:hover{

background:#f2f2f2;

}
.login-body{

background:#f4f6f9;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Segoe UI;

}

.login-container{

text-align:center;

}

.login-box{

background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
width:300px;

}

.login-box input{

width:100%;
padding:10px;
margin-top:10px;
border:1px solid #ccc;
border-radius:5px;

}

.login-box button{

width:100%;
margin-top:15px;
padding:10px;
background:#2c3e50;
color:white;
border:none;
border-radius:5px;
cursor:pointer;

}

.login-box button:hover{

background:#34495e;

}

#erroLogin{

color:red;
margin-top:10px;

}
